<div class = "container">
    <div class="page-header">
        <h1>Contact Us</h1>
    </div>
    <div>
        <img class = "img-responsive" src = "assets/images/chiplun.jpg">
    </div>
    <div class = "row">
        <div class = "col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Address</div>
                <div class="panel-body">
                    <p>SAI GALAXY SECTION FORMINGS CO.,</p>
                    <p>A-16 KHERDI MIDC,</p>
                    <p>CHIPLUN-415604,</p>
                    <p>DIST. RATNAGIRI (MS)</p>
                </div>
            </div>
        </div>
        <div class = "col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Email and Contact Details</div>
                <div class="panel-body">
                    <p>Email: saigalaxy@gmail.com</p>
                    <p>Office Number 1: 02355-256494</p>
                    <p>Office Number 2: 02355-254028</p>
                    <p>GAJANAN KADAM: 9822595786 / 9422595786</p>
                </div>
            </div>
        </div>
    </div>
</div>