<div class = "container">
    <div class="page-header">
    <h1>Sai Galaxy <small>Rolling Shutters</small></h1>
    </div>
    <p>We are Manufacturers of</p>
    <div class="list-group">
        <a class="list-group-item" *ngFor = "let product of products" (click) = "goToProductCatalog(product.id)">{{product.title}}</a>
    </div>
    <p>
        and different other variable of all type shutters. Our expertise's of more than 25 years we provide any complex solutions for rolling shutters and doors. Our own manufacturing setup makes it is possible for better quality and best price. We are expert in shutter manufacturing any size as per client requirement and successfully installing it at clients place. We also supply bulk order of any size in minimum time all over KONKAN.
    </p>
    <p>
        With modern technology and latest machinery we are capable of manufacturing rolling shutters at lowest price with quality. This gives us the flexibility to achieve client requirement at his best.
    </p>
    <p>
        We are manufacturer and supplier of top-quality manual or automatic (motorized) Rolling Shutters. Manual and Automatic motorized rolling shutter include extra placating in any office or Home. They are supply to the ambience of your home and give full privacy whenever you like. Shutter motors and motorized rolling shutters successfully reduce heating costs. Our rolling shutters will complement the defense and protection of any type of location.
    </p>
    <p>
        We make sure the top-quality material for our products and a capable production for a strong and good-looking completed product. We are one of the leading suppliers and manufacturers of any type of rolling shutter motors which can be manually operated rolling shutters.
    </p>
    <p>
        Our rolling shutters are used at various places like shops, offices, industries, car parking’s, windows, doors etc. It is very easy to install and of very low maintenance cost and thus our manufactured rolling shutters gives high performance and trouble free operation for our clients. With our 25 years of experience and expert team we can provide reliable shutter solutions to any customer. We can say proudly that we are the best in business providing quality products to our customer.
    </p>
    <p>
        We have all type rolling shutters like manual rolling shutter, automatic rolling shutters, gear rolling shutter, SS rolling shutter, Aluminum rolling shutters, perforated rolling shutter and rolling shutter grill for supply in  KONKAN  and all over Maharashtra. We have been able to develop the confidence of the clients in the International market with high quality rolling shutter at a lowest price.
    </p>
</div>