.img-responsive {
    margin: 0 auto;
}
.container {
    box-shadow: 14px 14px 14px 14px grey;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sg-details {
    font-size: large;
    margin-top: 15px;
    margin-bottom: 15px;
}