<md-tab-group [selectedIndex]=selectedTab>
    <md-tab>
        <template md-tab-label>
            <span class = "glyphicon glyphicon-home"></span> Home
        </template>
        <app-home></app-home>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            <span class = "glyphicon glyphicon-th-list"></span> Products
        </template>
        <app-products></app-products>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            <span class = "glyphicon glyphicon-comment"></span> About Us
        </template>
        <app-about-us></app-about-us>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            <span class = "glyphicon glyphicon-info-sign"></span> Contact Us
        </template>
        <app-contact-us></app-contact-us>
    </md-tab>
</md-tab-group>