<md-tab-group>
    <md-tab>
        <template md-tab-label>
            <span class = "glyphicon glyphicon-home"></span> Home
        </template>
        <app-home></app-home>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            <span class = "glyphicon glyphicon-briefcase"></span> Products
        </template>
        <app-products></app-products>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            <span class = "glyphicon glyphicon-comment"></span> About Us
        </template>
        <app-about-us></app-about-us>
    </md-tab>
</md-tab-group>